@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* COLOR Y BACKGROUND
-COLOR
    Sintaxis: 	color: <color>
    Valor inicial: 	Determinado por el navegador
    Se aplica a: 	Todos los elementos
    Heredado: 	Si
Se puede mirar la paleta de colores para escribirlos directamente (ej: blue, red), usar los comandos con # (ej: #fff, #000) y usar el rgb posicionando el cursor sobre el cuadro que contenga el color para aplicarle de manera mas detallado y manual e incluso transparencia

-BACKGROUND 
    Sintaxis: 	background: <valor>
    Valores posibles: 	<background-color> || <background-image> || <background-repeat> || <background-attachment> || <background-position>
    Valor inicial: 	No definido
    Se aplica a: 	Todos los elementos
    Heredado: 	No
La propiedad background es una forma rápida para las propiedades más específicas relacionadas con background.
Un valor no especificado recibirá el valor inicial.
*/

table{
    height: 950px;
}
table,th,td{
    width: 100;
    border: 2px solid rgb(88, 255, 136);
    border-collapse: collapse;
    text-align: center;
    background: rgba(3, 133, 59, 0.261); 
    color:rgb(254, 255, 253);
}
.xx{
    width: 3%;
}
.img{
    position: absolute;
    z-index: -10;
    width: 99%;
    height: 98%;
}
.arr{
    font-family: 'Lobster', cursive;
}
.xx, .x1, .x2, .x3, .x4, #a, #b, #c, #d, #e, #f, #g, #h, #i{
    background: rgba(10, 92, 41, 0.647);
    color: rgb(0, 221, 147);
    font-weight: bolder;
}